
*{font-family: 'Dancing Script', cursive;
font-size: 110%;
}
body {
	margin: 0px;
	/*background-image: url(http://cdn.miscellaneoushi.com/2400x1600/20121018/nature%20spring%20season%20parks%20white%20flowers%202400x1600%20wallpaper_www.miscellaneoushi.com_16.jpg);
	background-size: cover;*/
	background-color:#FFC7AA;
	}

/*}
.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
*/
h1{
	color: #803A16;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	border-bottom: 4px solid rgb(212, 142, 106);
	border-right: 4px solid rgb(212, 142, 106);
	width: 80%;
	text-align: center;
	box-shadow: 4px 4px 5px #888888;
	margin-top: 20px;

}
h3{color:#D48E6A;
	font-size:120%;
	font-weight: bold;

}
span{
	font-family:'Dancing Script', cursive;
font-size: 60%;
}
#div1 {
	font-style: italic;
	font-size: 150%;
}


img {
	width: 400px;
	height: 200px;
	margin: 10px;
	padding: 10px;
	transition: all 1s;
	float: left;
}
img:hover{
	transform: scale(1.1);

}
#div3{
	clear:both;
}
